{% extends 'kanban/layouts/main.html' %}
{% load static %}
{% block header %}
	<link rel="stylesheet" href="{% static 'css/project_view.css' %}">
{% endblock %}
{% block content %}
	<div class="main">
		<div class="task-column">
			<div class="column-header gray">
				Не срочно, не важно
			</div>
			{% for task in tasks %}
				{% if task.status.id == 1 %}
					<div class="task">
						<div class="task-header">
							<h2>{{ task.title }}</h2>
							{% if task.stage_of_execution %}
								<div class="chip">{{ task.stage_of_execution.title }}</div>
							{% endif %}
						</div>
						{% if task.discussion %}
							<span>Обсждается: {{ task.discussion.data }}</span>
						{% endif %}
						{% if request.user in task.executors.all %}
							<div class='task-forms'>
								<form action="{% url 'kanban:change_status' task.id %}" method='post' class='task-form'>
									{% csrf_token %}
									{{ status_form.status }}
								</form>
								<form action="{% url 'kanban:set_stage_of_execution' task.project.id task.id %}" method="post" class="task-form">
									{% csrf_token %}
									{{ stage_form.stage_of_execution }}
								</form>
							</div>
						{% else %}
							<a href="{% url 'kanban:add_executor' task.id %}" class='btn success'>Принять</a>
						{% endif %}
						<div>
							{{ task.description }}
						</div>
						<div class='task-creator'>
							<span>Создано:</span>
							<a href="{% url 'kanban:user_tasks' task.project.id task.user.id %}" class='task-user'>{{ task.user.username }}</a>
						</div>
						<div class='task-executors'>
							<span>Исполнитель:</span>
							{% for executor in task.executors.all %}
								<a href="{% url 'kanban:task_executor' task.project.id executor.id %}" class="task-user">{{ executor.username }}</a>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="task-column">
			<div class="column-header alert">
				Cрочно, не важно
			</div>
			{% for task in tasks %}
				{% if task.status.id == 2 %}
					<div class="task">
						<div class="task-header">
							<h2>{{ task.title }}</h2>
							<form action="{% url 'kanban:change_status' task.id %}" method='post' class='task-form'>
								{% csrf_token %}
								{{ status_form.status }}
							</form>
						</div>
						<div>
							{{ task.description }}
						</div>
						<div>
							<a href='#' class='task-user'>{{ task.user.username }}</a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="task-column">
			<div class="column-header warrning">
				Не срочно, важно
			</div>
			{% for task in tasks %}
				{% if task.status.id == 3 %}
					<div class="task">
						<div class="task-header">
							<h2>{{ task.title }}</h2>
							<form action="{% url 'kanban:change_status' task.id %}" method='post' class='task-form'>
								{% csrf_token %}
								{{ status_form.status }}
							</form>
						</div>
						<div>
							{{ task.description }}
						</div>
						<div>
							<a href='#' class='task-user'>{{ task.user.username }}</a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="task-column">
			<div class="column-header danger">
				Срочно, важно
			</div>
			{% for task in tasks %}
				{% if task.status.id == 4 %}
					<div class="task">
						<div class="task-header">
							<h2>{{ task.title }}</h2>
							{% if task.stage_of_execution %}
								<div class="chip">{{ task.stage_of_execution.title }}</div>
							{% endif %}
						</div>
						{% if task.discussion %}
							<span>Обсждается: {{ task.discussion.data }}</span>
						{% endif %}
						{% if request.user in task.executors.all %}
							<div class='task-forms'>
								<form action="{% url 'kanban:change_status' task.id %}" method='post' class='task-form'>
									{% csrf_token %}
									{{ status_form.status }}
								</form>
								<form action="{% url 'kanban:set_stage_of_execution' task.project.id task.id %}" method="post" class="task-form">
									{% csrf_token %}
									{{ stage_form.stage_of_execution }}
								</form>
							</div>
						{% else %}
							<a href="{% url 'kanban:add_executor' task.id %}" class='btn success'>Принять</a>
						{% endif %}
						<div>
							{{ task.description }}
						</div>
						<div class='task-creator'>
							<span>Создано:</span>
							<a href="{% url 'kanban:user_tasks' task.project.id task.user.id %}" class='task-user'>{{ task.user.username }}</a>
						</div>
						<div class='task-executors'>
							<span>Исполнитель:</span>
							{% for executor in task.executors.all %}
								<a href="{% url 'kanban:task_executor' task.project.id executor.id %}" class="task-user">{{ executor.username }}</a>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="task-column">
			<div class="column-header success">
				Завершено
			</div>
			{% for task in tasks %}
				{% if task.status.id == 5 %}
					<div class="task">
						<div class="task-header">
							<h2>{{ task.title }}</h2>
							{% if task.stage_of_execution %}
								<div class="chip">{{ task.stage_of_execution.title }}</div>
							{% endif %}
						</div>
						{% if task.discussion %}
							<span>Обсждается: {{ task.discussion.data }}</span>
						{% endif %}
						{% if request.user in task.executors.all %}
							<div class='task-forms'>
								<form action="{% url 'kanban:change_status' task.id %}" method='post' class='task-form'>
									{% csrf_token %}
									{{ status_form.status }}
								</form>
								<form action="{% url 'kanban:set_stage_of_execution' task.project.id task.id %}" method="post" class="task-form">
									{% csrf_token %}
									{{ stage_form.stage_of_execution }}
								</form>
							</div>
						{% else %}
							<a href="{% url 'kanban:add_executor' task.id %}" class='btn success'>Принять</a>
						{% endif %}
						<div>
							{{ task.description }}
						</div>
						<div class='task-creator'>
							<span>Создано:</span>
							<a href="{% url 'kanban:user_tasks' task.project.id task.user.id %}" class='task-user'>{{ task.user.username }}</a>
						</div>
						<div class='task-executors'>
							<span>Исполнитель:</span>
							{% for executor in task.executors.all %}
								<a href="{% url 'kanban:task_executor' task.project.id executor.id %}" class="task-user">{{ executor.username }}</a>
							{% endfor %}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<script src="{% static 'js/auto_form_submit.js' %}"></script>
{% endblock %}